@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 56% 97%;
    --foreground: 12 23% 11%;
    --card: 0 0% 100%;
    --card-foreground: 12 23% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 12 23% 11%;
    --primary: 33 61% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 10% 95%;
    --secondary-foreground: 23 8% 45%;
    --muted: 30 10% 95%;
    --muted-foreground: 23 8% 45%;
    --accent: 33 61% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 33% 91%;
    --input: 28 33% 91%;
    --ring: 33 61% 41%;
    --chart-1: 147 62% 50%;
    --chart-2: 217 100% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    position: relative;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}



.input {
  border: 2px solid transparent;
  width: 100%;
  height: 2.5em;
  padding-left: 2.5rem;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74 157 236 / 20%);
  background-color: white;
}


.icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #0d0c22;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}